#nav
  ul.main-menu
    li: a(href="/yonetim/tespih") Tespih
    li: a(href="/yonetim/tablo")  Tablo
    li: a(href="/yonetim/kitap")  Kitap
    li: a(href="/yonetim/esans")  Esans
  ul.kurumsal-menu
    li: a(href="/yonetim/hakkimizda")  Hakkımızda
    li: a(href="/yonetim/etkinlikler") Etkinlikler
    li: a(href="/yonetim/seminerler")  Seminerler
    li: a(href="/yonetim/iletisim")    İletişim
    li= "|"
    li: a(href="/cikisyap") Çıış